/* Стилизация сайдбара */
.sidebar {
    width: 250px; /* Ширина сайдбара */
    background-color: black; /* Цвет фона сайдбара */
    color: white; /* Цвет текста в сайдбаре */
    padding: 20px; /* Отступы внутри */
    height: 100%; /* Высота 100% */
    position: fixed; /* Зафиксировать сайдбар */
    top: 0; /* Начало от верхней части страницы */
    left: -250px; /* Скрыть сайдбар изначально */
    overflow-y: auto; /* Прокрутка для сайдбара при необходимости */
    transition: left 0.3s; /* Плавный сдвиг при открытии/закрытии */
}

/* Кнопка закрытия */
.closebtn {
    background: none; /* Без фона */
    border: none; /* Убираем стандартные границы */
    color: white; /* Цвет кнопки закрытия */
    font-size: 30px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
}

/* Кнопка открытия сайдбара */
.openbtn {
    margin: 15px; /* Отступ от краев */
    font-size: 18px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
}

/* Стили для заголовков и списков в сайдбаре */
.sidebar h2 {
    margin-top: 0; /* Убираем отступы в заголовке */
}

.sidebar ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

.sidebar ul li {
    margin: 10px 0; /* Отступы между элементами списка */
}

.sidebar ul li a {
    display: block; /* Оборачиваем ссылки в блочный элемент */
    color: white; /* Цвет ссылок в сайдбаре */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    padding: 10px; /* Отступы внутри каждой ссылки */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s; /* Плавный переход при наведении */
    white-space: normal; /* Разрешить перенос слов */
}

.sidebar ul li a:hover {
    background-color: #333; /* Темный цвет фона при наведении */
}
