/* Общие стили для body */
body {
    display: flex; /* Используем флексбокс для размещения сайдбара и основного контента */
    margin: 0; /* Убираем отступы по умолчанию */
    height: 100vh; /* Высота экрана */
    background-color: white;
}

/* Стилизация сайдбара */
.sidebar {
    width: 12%; /* Ширина сайдбара 20% от устройства */
    background-color: #007BFF; /* Цвет фона сайдбара */
    color: white; /* Цвет текста */
    padding: 20px; /* Отступы внутри */
    height: 100%; /* Высота 100% */
    position: fixed; /* Зафиксировать сайдбар */
}

.sidebar h2 {
    margin-top: 0; /* Убираем отступы в заголовке */
}

.sidebar ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

.sidebar ul li {
    margin: 10px 0; /* Отступы между элементами списка */
}

.sidebar ul li a {
    display: block; /* Оборачиваем ссылки в блочный элемент */
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
    padding: 10px; /* Отступы внутри каждой ссылки */
    border-radius: 5px; /* Скругленные углы */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

.sidebar ul li a:hover {
    background-color: #0056b3; /* Темный цвет фона при наведении */
}

/* Основной контент смещен вправо */
.content {
    margin-left: 20%; /* Отступ для сайдбара, чтобы не перекрывать контент */
    padding: 20px; /* Отступы внутри */
    width: 80%; /* Ширина основного контента 80% от экрана */
}

/* Стилизация таблицы продуктов */
.product-table {
    width: 100%; /* Ширина таблицы на 100% */
    border-collapse: collapse; /* Убираем пробелы между ячейками */
    margin-top: 20px; /* Отступ сверху */
}

.product-table td {
    border: 1px solid #ddd; /* Рамка вокруг ячеек */
    padding: 15px; /* Отступы внутри ячеек */
    text-align: center; /* По центру текст внутри ячеек */
}

.product {
    background-color: #f9f9f9; /* Светлый фон для ячейки */
    border-radius: 5px; /* Скругление углов */
}

.product h3 {
    margin: 0; /* Убираем отступы */
}

.product button {
    margin-top: 10px; /* Отступ сверху для кнопки */
    background-color: #007BFF; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем стандартную рамку */
    border-radius: 5px; /* Скругленные углы */
    padding: 10px 15px; /* Отступы вокруг текста кнопки */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.product button:hover {
    background-color: #0056b3; /* Темный цвет фона при наведении */
}
